<template>
  <div class="bg-grey-lightest h-screen">
    <!-- create header -->
    <div class="bg-black w-full relative shadow px-4 py-2 z-50">
      <div class="flex flex-wrap max-w-2xl mx-auto items-center justify-between text-white font-semibold ">
        <!-- add left side loggo/brand in header -->
        <n-link to="/" tag="div" class="flex items-center cursor-pointer">
          <svg
            class="mr-2"
            height="25px"
            width="25px"
            viewBox="-27 0 512 512.00111"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m31.625 128.652344c-3.113281 0-6.042969-1.902344-7.203125-4.992188l-22.535156-60.09375c-1.492188-3.976562.523437-8.410156 4.5-9.902344 3.976562-1.488281 8.40625.523438 9.898437 4.5l22.539063 60.097657c1.492187 3.976562-.523438 8.410156-4.5 9.898437-.890625.335938-1.800781.492188-2.699219.492188zm0 0"
              fill="#4e5093"
            />
            <path
              d="m194.253906 288.167969-63.710937 23.902343-34.71875 13.019532c-15.347657 5.753906-32.46875-2.019532-38.222657-17.378906l-51.550781-137.460938-4.152343-11.0625c-.417969-1.128906-.769532-2.265625-1.046876-3.40625-3.535156-14.394531 4.195313-29.488281 18.425782-34.816406l34.460937-12.929688 63.96875-23.992187zm0 0"
              fill="#fef5e3"
            />
            <path
              d="m194.253906 288.167969-63.710937 23.902343-.605469-1.601562-39.527344-15.492188c-27.054687-10.621093-40.4375-41.265624-29.835937-68.316406l23.929687-62.019531c-11.246094-10.425781-20.21875-23.449219-25.792968-38.34375-2.246094-5.988281-3.90625-12.101563-4.972657-18.261719l63.964844-23.992187zm0 0"
              fill="#ffe5c0"
            />
            <path
              d="m50.480469 196.917969-30.1875 11.320312-8.476563-22.609375 30.183594-11.320312c5.300781-1.988282 11.210938.695312 13.199219 6l1.28125 3.40625c1.988281 5.304687-.699219 11.214844-6 13.203125zm0 0"
              fill="#898ec9"
            />
            <path
              d="m325.589844 116.234375-14.042969 55.6875c-5.460937 21.632813-27.429687 34.753906-49.0625 29.292969l-14.386719-3.632813-53.472656-13.480469 11.496094-45.554687 21.90625 5.523437 39.570312 9.984376 12.4375-49.316407zm0 0"
              fill="#6163aa"
            />
            <path
              d="m228.03125 144.070312 20.066406 53.515626-53.472656-13.484376 11.496094-45.554687zm0 0"
              fill="#4e5093"
            />
            <path
              d="m284.011719 408.523438c-1.679688 1.9375-3.535157 3.761718-5.582031 5.445312l-62.542969 51.582031-34.625-41.988281 56.664062-46.730469-16.03125-19.4375-30.703125-37.238281 41.992188-34.625 43.957031 53.296875 5.726563 6.941406 1.898437 2.304688c14.757813 17.898437 13.984375 43.511719-.753906 60.449219zm0 0"
              fill="#6163aa"
            />
            <path
              d="m237.921875 384.515625c-4.152344 0-7.570313-3.308594-7.683594-7.484375-.113281-4.242188 3.234375-7.777344 7.480469-7.890625l26.675781-.71875c4.238281-.128906 7.777344 3.234375 7.894531 7.480469.113282 4.246094-3.238281 7.78125-7.480468 7.894531l-26.675782.714844c-.070312.003906-.140624.003906-.210937.003906zm0 0"
              fill="#4e5093"
            />
            <path
              d="m233.183594 285.53125 43.957031 53.296875-4.304687-.535156-50.941407 19.101562-30.703125-37.238281zm0 0"
              fill="#4e5093"
            />
            <path
              d="m284.011719 408.523438c-7.640625-3.894532-13.90625-10.539063-17.152344-19.195313-6.269531-16.707031.859375-35.15625 16.007813-43.558594l1.898437 2.304688c14.757813 17.898437 13.984375 43.511719-.753906 60.449219zm0 0"
              fill="#00c2cc"
            />
            <path
              d="m422.097656 290.179688-6.769531 54.003906-143.914063-18.011719-54.660156 20.496094c-25.824218 9.683593-54.277344-.832031-67.976562-23.660157-1.746094-2.890624-3.246094-5.984374-4.472656-9.257812l-47.925782-127.792969 118.09375-44.289062 48.214844 128.558593 37.589844 4.707032 69.675781 8.722656zm0 0"
              fill="#898ec9"
            />
            <path
              d="m325.03125 337.652344c-.492188 0-.988281-.046875-1.488281-.144532-4.167969-.816406-6.882813-4.859374-6.066407-9.023437l4.175782-21.308594c.820312-4.167969 4.859375-6.878906 9.027344-6.070312 4.167968.816406 6.882812 4.859375 6.066406 9.027343l-4.175782 21.308594c-.71875 3.664063-3.9375 6.210938-7.539062 6.210938zm0 0"
              fill="#6163aa"
            />
            <path
              d="m237.007812 201.742188-20.632812 7.738281c-5.921875 2.222656-12.523438-.777344-14.746094-6.703125-2.21875-5.921875.78125-12.523438 6.703125-14.742188l20.632813-7.738281zm0 0"
              fill="#ff5c3c"
            />
            <path
              d="m214.472656 141.667969 8.109375 21.625c-9.710937 9.367187-21.296875 16.664062-34.304687 21.542969-26.738282 10.027343-55.125 7.863281-78.992188-3.71875zm0 0"
              fill="#6163aa"
            />
            <path
              d="m221.039062 304.355469-7.945312 20.265625c-1.140625 2.894531-2.867188 5.492187-5.035156 7.636718-2.171875 2.140626-4.796875 3.832032-7.707032 4.925782-5.085937 1.90625-10.679687 1.863281-15.738281-.121094l-35.832031-14.054688c-1.75-2.890624-3.246094-5.984374-4.472656-9.257812l-47.929688-127.792969 43.222656-16.210937 17.074219 6.695312-23.144531 59.027344 19.6875 7.726562c.414062-.183593.828125-.351562 1.253906-.511718 6.507813-2.441406 13.65625-2.386719 20.132813.148437l14.914062 5.851563c5.453125 2.140625 9.757813 6.285156 12.109375 11.65625 1.863282 4.257812 2.320313 8.882812 1.363282 13.335937l5.613281 2.195313c5.46875 2.148437 9.769531 6.28125 12.117187 11.664062 2.351563 5.382813 2.460938 11.351563.316406 16.820313zm0 0"
              fill="#6163aa"
            />
            <path
              d="m369.957031 283.65625c-3.035156 10.386719-10.75 19.257812-21.660156 23.351562-18.378906 6.890626-38.871094-2.421874-45.765625-20.804687-1.394531-3.714844-2.121094-7.511719-2.253906-11.269531zm0 0"
              fill="#2de0c7"
            />
            <path
              d="m118.171875 242.175781 47.351563 18.5625-17.152344 43.746094-53.472656-20.960937c-20.773438-8.152344-31.011719-31.597657-22.867188-52.367188l22.65625-58.707031 11.382812-29.515625 43.742188 17.140625-11.574219 30.023437zm0 0"
              fill="#898ec9"
            />
            <path
              d="m149.8125 160.074219-11.574219 30.019531c-15.714843-2.363281-30.667969-8.4375-43.550781-17.644531l11.382812-29.515625zm0 0"
              fill="#6163aa"
            />
            <path
              d="m204.277344 286.90625-16.363282-6.417969 3.003907-7.652343c2.039062-5.207032-.523438-11.082032-5.730469-13.125l-14.910156-5.84375c-8.363282-3.28125-17.804688.84375-21.082032 9.207031l-10.160156 25.914062c-3.28125 8.363281.839844 17.804688 9.207032 21.085938l40.699218 15.953125c5.203125 2.042968 11.082032-.523438 13.121094-5.730469l7.945312-20.269531c2.042969-5.207032-.523437-11.082032-5.730468-13.121094zm0 0"
              fill="#2de0c7"
            />
            <path
              d="m458.253906 276.605469-8.707031 69.566406c-.679687 5.410156-5.613281 9.246094-11.023437 8.570313l-28.621094-3.582032c-5.410156-.679687-9.246094-5.613281-8.570313-11.023437l6.058594-48.390625c2.140625-17.105469 17.746094-29.238282 34.851563-27.097656l7.441406.929687c5.410156.679687 9.246094 5.617187 8.570312 11.027344zm0 0"
              fill="#2de0c7"
            />
            <path
              d="m192.238281 508.410156-44.605469-54.089844c-3.472656-4.207031-2.875-10.429687 1.335938-13.898437l22.25-18.351563c4.207031-3.46875 10.429688-2.871093 13.902344 1.335938l31.023437 37.621094c10.972657 13.300781 9.082031 32.976562-4.222656 43.949218l-5.78125 4.769532c-4.210937 3.46875-10.433594 2.871094-13.902344-1.335938zm0 0"
              fill="#00c4ce"
            />
            <path
              d="m235.890625 59.84375c9.890625 26.378906 6.378906 54.496094-7.148437 76.863281-9.917969 16.4375-25.25 29.769531-44.621094 37.035157-45.746094 17.15625-96.738282-6.019532-113.894532-51.769532-17.15625-45.746094 6.019532-96.738281 51.765626-113.894531 10.070312-3.777344 20.382812-5.597656 30.554687-5.648437 35.996094-.210938 69.960937 21.738281 83.34375 57.414062zm0 0"
              fill="#898ec9"
            />
            <path
              d="m235.882812 59.847656c9.894532 26.378906 6.382813 54.492188-7.144531 76.859375l-35.257812-9.34375-14.257813-3.789062-7.671875-2.035157-27.421875-7.265624-9.136718-2.425782 17.550781-109.414062c13.449219-.078125 26.609375 2.925781 38.519531 8.585937 8.550781 4.078125 16.464844 9.515625 23.375 16.164063 2.027344 1.949218 3.96875 3.996094 5.800781 6.15625 3.632813 4.226562 6.890625 8.835937 9.703125 13.804687 2.28125 4.003907 4.269532 8.246094 5.941406 12.703125zm0 0"
              fill="#2de0c7"
            />
            <path
              d="m229.941406 47.144531-36.460937 80.21875-14.253907-3.789062 41.011719-90.234375c3.628907 4.226562 6.886719 8.835937 9.703125 13.804687zm0 0"
              fill="#9bf2e5"
            />
            <path
              d="m214.4375 27.183594-42.886719 94.355468-27.421875-7.265624 46.929688-103.253907c8.554687 4.078125 16.46875 9.515625 23.378906 16.164063zm0 0"
              fill="#9bf2e5"
            />
            <path
              d="m148.824219 113.964844c0 10.988281-8.910157 19.898437-19.898438 19.898437s-19.898437-8.910156-19.898437-19.898437c0-10.988282 8.910156-19.898438 19.898437-19.898438s19.898438 8.910156 19.898438 19.898438zm0 0"
              fill="#4e5093"
            />
            <path
              d="m303.316406 57.523438-4.296875 17.042968-7.976562-2.011718c-5.421875-1.367188-10.925781 1.917968-12.292969 7.339843l-3.917969 15.527344c-2.199219 8.710937 3.082031 17.554687 11.792969 19.753906l26.992188 6.808594c8.710937 2.195313 17.554687-3.085937 19.753906-11.796875l10.691406-42.386719c1.367188-5.421875-1.917969-10.925781-7.339844-12.292969l-21.113281-5.324218c-5.417969-1.367188-10.925781 1.917968-12.292969 7.339844zm0 0"
              fill="#2de0c7"
            />
            <path
              d="m213.175781 241.011719c-3.117187 0-6.066406-1.886719-7.226562-4.964844-1.5-3.972656.460937-8.390625 4.433593-9.890625l.097657-.035156c3.96875-1.503906 8.410156.507812 9.90625 4.484375 1.5 3.972656-.507813 8.410156-4.480469 9.90625-.898438.335937-1.824219.5-2.730469.5zm0 0"
              fill="#ff5c3c"
            />
            <path
              d="m219.359375 257.5c-3.148437 0-6.121094-1.925781-7.257813-5.042969-1.453124-3.988281.554688-8.386719 4.542969-9.839843l.097657-.035157c3.988281-1.457031 8.402343.601563 9.859374 4.589844 1.453126 3.988281-.601562 8.40625-4.59375 9.859375-.871093.316406-1.765624.46875-2.648437.46875zm0 0"
              fill="#ff5c3c"
            />
            <path
              d="m34.863281 159.453125-28.691406 10.753906c-.039063.019531-.082031.03125-.121094.042969l-4.152343-11.0625c-.417969-1.128906-.769532-2.265625-1.046876-3.40625l28.617188-10.734375c3.96875-1.488281 8.40625.523437 9.894531 4.5 1.496094 3.980469-.523437 8.410156-4.5 9.90625zm0 0"
              fill="#4e5093"
            />
            <path
              d="m39.742188 233.972656c-3.113282 0-6.046876-1.902344-7.203126-4.992187-1.492187-3.972657.523438-8.40625 4.5-9.898438l8.355469-3.132812c3.976563-1.492188 8.410157.523437 9.902344 4.5 1.488281 3.976562-.523437 8.410156-4.5 9.902343l-8.355469 3.132813c-.890625.332031-1.804687.488281-2.699218.488281zm0 0"
              fill="#898ec9"
            />
            <path
              d="m45.785156 250.09375c-3.113281 0-6.042968-1.90625-7.203125-4.992188-1.488281-3.976562.527344-8.410156 4.503907-9.902343l8.355468-3.132813c3.972656-1.492187 8.40625.523438 9.898438 4.5 1.492187 3.976563-.523438 8.410156-4.5 9.902344l-8.355469 3.132812c-.890625.332032-1.800781.492188-2.699219.492188zm0 0"
              fill="#898ec9"
            />
            <path
              d="m426.335938 360.90625c-.296876 0-.59375-.015625-.898438-.050781-4.214844-.492188-7.238281-4.308594-6.746094-8.527344l4.59375-39.484375c.492188-4.21875 4.300782-7.238281 8.527344-6.75 4.21875.492188 7.238281 4.308594 6.75 8.527344l-4.597656 39.484375c-.453125 3.914062-3.777344 6.800781-7.628906 6.800781zm0 0"
              fill="#00c2cc"
            />
            <path
              d="m182.582031 468.679688c-2.214843 0-4.410156-.953126-5.933593-2.792969l-22.21875-26.90625c-2.703126-3.277344-2.238282-8.121094 1.035156-10.828125 3.273437-2.703125 8.117187-2.242188 10.824218 1.035156l22.21875 26.90625c2.703126 3.273438 2.242188 8.121094-1.03125 10.824219-1.433593 1.1875-3.167968 1.761719-4.894531 1.761719zm0 0"
              fill="#00a6cc"
            />
            <path
              d="m359.3125 220.210938c-.015625 0-.027344 0-.039062 0-4.246094-.019532-7.671876-3.480469-7.652344-7.726563l.011718-2.792969c.023438-4.230468 3.460938-7.652344 7.691407-7.652344h.039062c4.246094.023438 7.671875 3.480469 7.652344 7.726563l-.015625 2.792969c-.019531 4.234375-3.460938 7.652344-7.6875 7.652344zm0 0"
              fill="#fda736"
            />
            <path
              d="m359.222656 248.617188c-.011718 0-.023437 0-.035156 0-4.246094-.019532-7.671875-3.476563-7.65625-7.726563l.015625-2.789063c.019531-4.234374 3.457031-7.65625 7.6875-7.65625h.039063c4.246093.019532 7.671874 3.480469 7.652343 7.726563l-.011719 2.792969c-.019531 4.234375-3.460937 7.652344-7.691406 7.652344zm0 0"
              fill="#fda736"
            />
            <path
              d="m374.871094 233.070312c-.011719 0-.023438 0-.035156 0l-2.792969-.011718c-4.246094-.023438-7.671875-3.480469-7.652344-7.726563.019531-4.234375 3.457031-7.65625 7.6875-7.65625h.039063l2.789062.015625c4.246094.019532 7.671875 3.476563 7.65625 7.726563-.023438 4.230469-3.460938 7.652343-7.691406 7.652343zm0 0"
              fill="#fda736"
            />
            <path
              d="m346.464844 232.980469c-.011719 0-.023438 0-.035156 0l-2.789063-.011719c-4.25-.019531-7.675781-3.480469-7.65625-7.726562.019531-4.234376 3.460937-7.652344 7.6875-7.652344h.039063l2.789062.011718c4.25.019532 7.675781 3.476563 7.65625 7.726563-.019531 4.234375-3.460938 7.652344-7.691406 7.652344zm0 0"
              fill="#fda736"
            />
            <g fill="#fed370">
              <path
                d="m406.738281 184.355469c-.015625 0-.027343 0-.039062 0-4.246094-.023438-7.671875-3.480469-7.652344-7.726563l.011719-2.792968c.023437-4.234376 3.460937-7.652344 7.691406-7.652344h.035156c4.25.019531 7.675782 3.480468 7.65625 7.726562l-.015625 2.789063c-.019531 4.238281-3.460937 7.65625-7.6875 7.65625zm0 0"
              />
              <path
                d="m406.648438 212.761719c-.011719 0-.023438 0-.035157 0-4.25-.023438-7.675781-3.480469-7.65625-7.726563l.015625-2.792968c.019532-4.234376 3.457032-7.652344 7.6875-7.652344h.035156c4.25.019531 7.675782 3.476562 7.65625 7.726562l-.015624 2.789063c-.019532 4.234375-3.457032 7.65625-7.6875 7.65625zm0 0"
              />
              <path
                d="m422.296875 197.210938c-.011719 0-.023437 0-.039063 0l-2.789062-.011719c-4.246094-.019531-7.671875-3.476563-7.652344-7.726563.019532-4.234375 3.457032-7.652344 7.6875-7.652344h.035156l2.792969.011719c4.246094.019531 7.671875 3.476563 7.652344 7.726563-.019531 4.234375-3.457031 7.652344-7.6875 7.652344zm0 0"
              />
              <path
                d="m393.890625 197.125c-.011719 0-.027344 0-.039063 0l-2.789062-.015625c-4.25-.019531-7.671875-3.480469-7.652344-7.726563.023438-4.234374 3.460938-7.652343 7.6875-7.652343h.042969l2.789063.015625c4.246093.019531 7.671874 3.480468 7.652343 7.726562-.023437 4.234375-3.460937 7.652344-7.691406 7.652344zm0 0"
              />
              <path
                d="m31.296875 370.421875c-.011719 0-.023437 0-.039063 0-4.246093-.019531-7.671874-3.476563-7.652343-7.726563l.011719-2.789062c.023437-4.246094 3.503906-7.632812 7.726562-7.65625 4.246094.019531 7.675781 3.480469 7.65625 7.726562l-.015625 2.792969c-.019531 4.234375-3.457031 7.652344-7.6875 7.652344zm0 0"
              />
              <path
                d="m31.210938 398.828125c-.015626 0-.027344 0-.039063 0-4.246094-.019531-7.671875-3.476563-7.652344-7.726563l.011719-2.789062c.019531-4.234375 3.460938-7.65625 7.691406-7.65625h.035156c4.246094.019531 7.671876 3.480469 7.652344 7.726562l-.011718 2.789063c-.019532 4.238281-3.460938 7.65625-7.6875 7.65625zm0 0"
              />
              <path
                d="m46.859375 383.28125c-.015625 0-.027344 0-.039063 0l-2.789062-.015625c-4.25-.019531-7.675781-3.476563-7.65625-7.722656.019531-4.234375 3.460938-7.65625 7.691406-7.65625h.035156l2.792969.011719c4.246094.023437 7.671875 3.480468 7.652344 7.726562-.019531 4.234375-3.460937 7.65625-7.6875 7.65625zm0 0"
              />
              <path
                d="m18.453125 383.191406c-.011719 0-.027344 0-.039063 0l-2.789062-.011718c-4.246094-.019532-7.671875-3.480469-7.652344-7.726563.019532-4.234375 3.457032-7.652344 7.6875-7.652344h.035156l2.792969.011719c4.246094.019531 7.671875 3.476562 7.652344 7.726562-.019531 4.234376-3.457031 7.652344-7.6875 7.652344zm0 0"
              />
            </g>
            <path
              d="m307.226562 458.714844c-.011718 0-.023437 0-.035156 0-4.25-.023438-7.675781-3.480469-7.65625-7.730469l.015625-2.789063c.019531-4.234374 3.457031-7.652343 7.6875-7.652343h.039063c4.246094.019531 7.671875 3.480469 7.652344 7.726562l-.011719 2.789063c-.023438 4.234375-3.460938 7.65625-7.691407 7.65625zm0 0"
              fill="#fda736"
            />
            <path
              d="m307.140625 487.117188c-.015625 0-.027344 0-.039063 0-4.246093-.019532-7.671874-3.480469-7.652343-7.726563l.011719-2.789063c.023437-4.234374 3.460937-7.65625 7.691406-7.65625h.039062c4.246094.023438 7.671875 3.480469 7.652344 7.730469l-.015625 2.789063c-.019531 4.234375-3.457031 7.652344-7.6875 7.652344zm0 0"
              fill="#fda736"
            />
            <path
              d="m322.789062 471.570312c-.011718 0-.023437 0-.039062 0l-2.789062-.011718c-4.246094-.023438-7.671876-3.480469-7.652344-7.726563.019531-4.234375 3.457031-7.65625 7.6875-7.65625h.035156l2.792969.015625c4.246093.019532 7.671875 3.476563 7.652343 7.726563-.019531 4.234375-3.457031 7.652343-7.6875 7.652343zm0 0"
              fill="#fda736"
            />
            <path
              d="m294.382812 471.484375c-.015624 0-.027343 0-.039062 0l-2.792969-.015625c-4.246093-.019531-7.671875-3.480469-7.648437-7.730469.019531-4.230469 3.457031-7.648437 7.6875-7.648437h.039062l2.792969.011718c4.246094.023438 7.671875 3.484376 7.648437 7.730469-.019531 4.234375-3.457031 7.652344-7.6875 7.652344zm0 0"
              fill="#fda736"
            />
            <path
              d="m270.234375 18.171875c-.011719 0-.023437 0-.035156 0-4.246094-.019531-7.671875-3.480469-7.65625-7.726563l.015625-2.792968c.019531-4.246094 3.492187-7.6640628 7.726562-7.652344 4.246094.0195312 7.671875 3.476562 7.652344 7.726562l-.011719 2.789063c-.019531 4.238281-3.460937 7.65625-7.691406 7.65625zm0 0"
              fill="#fed370"
            />
            <path
              d="m270.148438 46.578125c-.011719 0-.023438 0-.035157 0-4.25-.019531-7.675781-3.480469-7.65625-7.726563l.015625-2.792968c.019532-4.234375 3.457032-7.652344 7.6875-7.652344h.035156c4.25.019531 7.675782 3.476562 7.65625 7.726562l-.015624 2.789063c-.019532 4.234375-3.457032 7.65625-7.6875 7.65625zm0 0"
              fill="#fed370"
            />
            <path
              d="m285.796875 31.027344c-.011719 0-.023437 0-.039063 0l-2.789062-.011719c-4.246094-.019531-7.671875-3.476563-7.652344-7.726563.019532-4.234374 3.457032-7.652343 7.6875-7.652343h.035156l2.792969.011719c4.246094.019531 7.671875 3.480468 7.652344 7.726562-.019531 4.234375-3.457031 7.652344-7.6875 7.652344zm0 0"
              fill="#fed370"
            />
            <path
              d="m257.390625 30.941406c-.011719 0-.023437 0-.035156 0l-2.792969-.011718c-4.246094-.023438-7.671875-3.480469-7.652344-7.726563.019532-4.234375 3.457032-7.65625 7.6875-7.65625h.035156l2.792969.015625c4.246094.019531 7.671875 3.476562 7.652344 7.722656-.019531 4.238282-3.457031 7.65625-7.6875 7.65625zm0 0"
              fill="#fed370"
            />
          </svg>
          <div class="flex-grow md:flex-initial text-xl mr-10">
            Hackathon <!-- add website/brand name -->
          </div>
        </n-link>

        <!-- create navbar for desktop view -->
        <div class="flex-grow hidden md:inline">
          <div class="flex items-center font-normal text-sm">
            <a class="no-underline text-white p-2 mx-2" href="/">Home</a>
          </div>
        </div>

        <!-- create navbar for mobile view -->
        <div class="sm:hidden">
          <button>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-menu text-white"
            >
              <line x1="3" y1="12" x2="21" y2="12" />
              <line x1="3" y1="6" x2="21" y2="6" />
              <line x1="3" y1="18" x2="21" y2="18" />
            </svg>
          </button>
          <div class="absolute pin-r pin-ft w-48 bg-grey-light text-sm font-normal p-2">
            <a href="/" class="block text-black no-underline p-2">
              Home
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- body content start here -->
    <div class="relative w-full h-full mx-auto py-6 px-4">
      <div class="w-full relative">
        <div class="max-w-2xl mx-auto">
          <div class="relative w-full mx-auto">
            <div class="py-2 text-center">
              Available Symbols For Volidx Market
            </div>
          </div>
          <div class="relative w-64 mx-auto">
            <!-- dropdown to select available active markets for volidx market -->
            <select v-model="selectedMarket" class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" @change="getMarketData(selectedMarket)">
              <!-- display loading text while loading api -->
              <option disabled value="">
                {{ activeMarkets.length > 0 ? "Select Symbol" : "Loading.." }}                
              </option>
              <!-- loop array containing active_symbols to append in select element -->
              <option
                v-for="option in activeMarkets"
                :key="option.symbol"
                :value="option.symbol"
              >
                {{ option.symbol }}
              </option>
            </select>
            <div class="pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey-darker">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
            </div>
          </div>
          <!-- add empty box/container to display symbol's market tick data -->
          <div class="w-full max-w-2xl mx-auto p-5">
            <div class="border rounded p-16 bg-white my-5 shadow h-screen">
              <!-- show loading text when ticksArray length is zero and selectedMarket is not empty  -->
              <div v-if="ticksArray.length === 0 && selectedMarket !== ``">
                Loading..
              </div>
              <!-- else show tickArray array data -->
              <div v-else>
                <!-- loop tickArray data to display last 10 tick -->
                <div v-for="(item, index) in ticksArray" :key="index">
                  {{ item.quote }}
                </div>
              </div>
              <div v-if="selectedMarket === ``">
                No symbol selected <!-- show this text when symbol not selected in dropdown -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
let wss = null;
export default {
  data() {
    return {
      activeMarkets: [], // save all active symbols data
      ticksArray: [], // save tick data for current selected dropdown value
      selectedMarket: "", // current selected dropdown symbol value
      currentMarket: "" // previous selected dropdown (to compare with selectedMarket value if changed)
    };
  },
  // create data before start render
  created() {
    // open new websocket connection
    const ws = new WebSocket("wss://ws.binaryws.com/websockets/v3?app_id=1089");

    // onopen connection event
    ws.onopen = e => {
      // call active_symbols to get current available market
      ws.send(
        // stringify data sent
        JSON.stringify({
          active_symbols: "brief",
          product_type: "basic"
        })
      );

      // listen websocket api response
      ws.onmessage = e => {
        const data = JSON.parse(e.data); // parse json data
        const activeSyms = data.active_symbols; // save active_symbols on new variable
        const len = activeSyms.length; // get the length of activeSyms array
        const dataVolidx = []; // create empty array to populate volidx market data

        // loop activeSyms array and filter by (market = volidx) and save into dataVolidx
        for (let i = 0; i < len; i++) {
          if (activeSyms[i].market === "volidx") dataVolidx.push(activeSyms[i]);
        }
        this.$data.activeMarkets = dataVolidx; // save dataVolidx to activeMarkets state
      };
    };
  },
  methods: {
    // listen to onchange dropdown select for available volidx market
    getMarketData(selected) {
      // pass the selected dropdown value
      if (selected !== this.currentMarket) {
        // empty ticksArray array when select dropdown value changed
        this.ticksArray = [];

        // set current selected dropdown value = currentMarket
        this.currentMarket = selected;

        if (wss) {
          // close previously opened websocket connections
          if (wss.readyState === 1) {
            wss.close();
            wss = null;
          }
        }

        // open new websocket connection
        wss = new WebSocket("wss://ws.binaryws.com/websockets/v3?app_id=1089");

        // onopen connection event
        wss.onopen = e => {
          // send new request (ticks) to websocket api
          wss.send(JSON.stringify({ ticks: selected })); // stringify data sent

          // listen websocket api response
          wss.onmessage = e => {
            const data = JSON.parse(e.data); // parse json data
            // populate ticks data for selected symbol (maximum 10 ticks)
            if (this.$data.ticksArray.length <= 10) {
              this.$data.ticksArray.push(data.tick); // push tick data if ticksArray length <= 10
            } else {
              this.$data.ticksArray.shift(); // if ticksArray length more than 10, remove the oldest data in array index
              this.$data.ticksArray.push(data.tick); // push back latest tick data to array
            }
          };
        };
      }
    }
  }
};
</script>
